<section class="add_planning">
	<div class="breadcrumb">
		<a routerLink="/planning">
			<span class="icon"></span>
			Back
		</a>
	</div>
	<div class="inner_container">
		<div class="input_group">
			<label for="input_content">Content</label>
			<input id="input_content" type="text" placeholder="Quiche Lorraine" [(ngModel)]="task.content" (blur)="create_task()">
			<p class="informational_message" [innerHTML]="feedback.content | sanitizer : 'html'"></p>
		</div>
		<div class="input_group">
			<label for="input_author">Author</label>
			<input id="input_author" type="text" placeholder="Alexandre" [(ngModel)]="task.author" disabled>
			<p class="informational_message" [innerHTML]="feedback.author | sanitizer : 'html'"></p>
		</div>
		<div class="input_group">
			<label for="input_date">Date</label>
			<input id="input_date" type="text" placeholder="15th" [(ngModel)]="task.date" disabled>
			<p class="informational_message" [innerHTML]="feedback.date | sanitizer : 'html'"></p>
		</div>
		<div class="input_group">
			<label for="input_meal">Meal</label>
			<input id="input_meal" type="text" placeholder="Lunch" [(ngModel)]="task.meal" disabled>
			<p class="informational_message" [innerHTML]="feedback.meal | sanitizer : 'html'"></p>
		</div>
		<div class="footer" *ngIf="task.edit_date != 0">
			<div class="loading" *ngIf="is_loading" ><span class="icon"></span><p>loading</p></div>
			<div *ngIf="!is_loading" ><span class="icon"></span><p>Last updated {{task.edit_date | amTimeAgo}}</p></div>
		</div>
	</div>
</section>