// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

section.recipes{
	div.breadcrumb{
		@include container_sizing( 600px );
		padding: 30px 0 15px 0;
		a{
			font-family: 'courrier_new';
			color: #3C4F71;
			font-weight: 800;
			font-size: 20px;
			cursor: pointer;

			span.icon{
				font-family: 'font_awesome';
				color: #3C4F71;
				font-weight: 800;
				font-size: 16px;
			}
		}
	}
	div.inner_container{
		div.hero{
			width: 100%;
			height: auto;
			min-height: 200px;
			background-size: cover;
			background-position: center center;
		}
		div.introduction{
			@include container_sizing( 600px );
			padding: 20px 0 40px 0;

			h1{
				font-size: 24px;
				font-weight: 800;
				color: #3C4F71;
				font-family: 'courrier_new';
				margin-bottom: 20px;
			}
			p{
				font-size: 14px;
				color: #3C4F71;
				font-family: 'courrier_new';
				line-height: 22px;
			}
		}
		div.ingredient{
			padding: 20px 0 40px 0;
			position: relative;
			background-color: #F9FAFC;

			&:before{
				content: '';
				position: absolute;
				top: 0;
				display: block;
				height: 2px;
				width: 32px;
				background-color: #FFC414;
			}
			h3{
				font-size: 18px;
				font-weight: 800;
				color: #3C4F71;
				font-family: 'courrier_new';
				@include container_sizing( 600px );
				margin-bottom: 20px;
			}
			ul{
				overflow: auto;
				@include container_sizing( 600px );

				li{
					span.checkbox{
						display: block;
						width: 20px;
						float: left;

						input{
							margin: 0 0 0 0;
							-webkit-appearance: none;

							&:checked{
								border-color: #3C4F71;
								&:after {
									content: '';
									display: block;
									margin-top: 1px;
									margin-left: 4px;
									width: 4px;
									height: 8px;
									border: solid #3C4F71;
									border-width: 0 2px 2px 0;
									transform: rotate(45deg);
								}
							}
						}
					}
					label{
						display: block;
						float: left;
						width: calc(100% - 22px);
						font-size: 16px;
						color: #3C4F71;
						font-family: 'courrier_new';
						margin: 0 0 20px 2px;
					}
					
				}
			}
		}
		div.preparation{
			padding: 20px 0 40px 0;
			position: relative;
			background-color: #F9FAFC;

			&:before{
				content: '';
				position: absolute;
				top: 0;
				display: block;
				height: 2px;
				width: 32px;
				background-color: #FFC414;
			}
			h3{
				font-size: 18px;
				font-weight: 800;
				color: #3C4F71;
				font-family: 'courrier_new';
				@include container_sizing( 600px );
				margin-bottom: 20px;
			}
			ol{
				padding-left: 0px;
				@include container_sizing( 600px );

				li{
					font-size: 16px;
					color: #3C4F71;
					font-family: 'courrier_new';
					margin-bottom: 20px;
					line-height: 18px;

					p{
						display: inline;
						font-family: 'courrier_new';
						font-weight: 800;
					}
				}
			}
		}
		div.tips{
			padding: 20px 0 40px 0;
			position: relative;
			background-color: #F9FAFC;

			&:before{
				content: '';
				position: absolute;
				top: 0;
				display: block;
				height: 2px;
				width: 32px;
				background-color: #FFC414;
			}
			h3{
				font-size: 18px;
				font-weight: 800;
				color: #3C4F71;
				font-family: 'courrier_new';
				@include container_sizing( 600px );
				margin-bottom: 20px;
			}
			p{
				@include container_sizing( 600px );
				font-size: 16px;
				color: #3C4F71;
				font-family: 'courrier_new';
				margin-bottom: 20px;
				line-height: 18px;
			}
		}

		div.details{
			background-color: #FFFFFF;
			position: relative;
			padding: 20px 5% 80px 5%;
			width: calc(100% - 10%);

			ul.tags{
				overflow: auto;
				margin-bottom: 20px;

				li.tag{
					background-color: #F7F8FA;
					padding: 8px 12px;
					border-radius: 20px;
					color: #3C4F71;
					text-transform: uppercase;
					font-weight: 800;
					font-size: 12px;
					font-family: 'courrier_new';
					margin: 6px;
					display: block;
					float: left;
				}
			}
			p{
				font-size: 14px;
				color: rgba(#3C4F71, .5);
				font-family: 'courrier_new';
			}
		}
	}
}