<nav class="top_container">
	<div class="inner_container">
		<div class="logo">
			<img src="../../assets/images/salad.gif" alt="">
			<h2>Recipe</h2>
		</div>
		<div class="menu_container">
			<a class="login" *ngIf="!is_user_logged_in" (click)="loginModal_service.open_modal()">Login</a>
			<div class="menu_inner_container" *ngIf="is_user_logged_in" [ngClass]="{'active': menu_active}">
				<div class="hamburger_icon" (click)="menu_active = !menu_active"><span class="icon"></span></div>
				<ul class="menu">
					<li class="user">
						<div class="avatar" [style.backgroundImage]="'url(' + user_details.avatar + ')' | sanitizer: 'style'"></div>
						<div class="content">
							<p class=name>{{user_details.given_name}} {{user_details.family_name}}</p>
							<p class=email>{{user_details.email}}</p>
						</div>
					</li>
					<li class="link"><a routerLink="/recipes" routerLinkActive="active"><span class="icon"></span>Recipes</a></li>
					<li class="link"><a routerLink="/planning" routerLinkActive="active"><span class="icon"></span>Planning</a></li>
					<li class="link todo" ><a><span class="icon"></span>Shopping list</a></li>
					<li class="link profil" ><a>Profil</a></li>
					<li class="link"><a (click)="logout()"><span class="icon"></span>Logout</a></li>
				</ul>
				<div class="darkshadow" (click)="menu_active = !menu_active"></div>
			</div>
		</div>
	</div>
</nav>

<section class="planning">
 	<div class="header">
		<div class="arrow arrow_left" (click)="update_date( 'back' )" ><span class="icon"></span></div>
		<div class="week_number">Week {{weeks_number}}</div>
		<div class="arrow arrow_right" (click)="update_date( 'next' )" ><span class="icon"></span></div>
	</div>
	<div class="body"> 
		<div class="time">
			<div class="hour"></div>
			<div class="hour">09:00</div>
			<div class="hour">12:00</div>
			<div class="hour">20:00</div>
		</div>
		<div class="content">
			<div class="day" *ngFor="let weekday of weekdays">
				<div class="weekday"><p class="date">{{weekday.date.weekday}} <span class="digit" [ngClass]="weekday.date.class">{{weekday.date.day}}</span></p></div>
				<div class="empty"></div>
				<div class="breakfast">
					<div *ngIf="weekday.breakfast.content" class="task" [routerLink]="['/add-planning', weekday.breakfast.url]" [innerHtml]="weekday.breakfast.content" [ngClass]="weekday.breakfast.author"></div>
				</div>
				<div class="lunch">
					<div *ngIf="weekday.lunch.content" class="task" [routerLink]="['/add-planning', weekday.lunch.url]" [innerHtml]="weekday.lunch.content" [ngClass]="weekday.lunch.author"></div>
				</div>
				<div class="dinner">
					<div *ngIf="weekday.dinner.content" class="task" [routerLink]="['/add-planning', weekday.dinner.url]" [innerHtml]="weekday.dinner.content" [ngClass]="weekday.dinner.author"></div>
				</div>
			</div>
		</div>
	</div>
</section>
