// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

nav.top_container{
		width: 100%;
		height: 40px;
		padding: 5px 0;
		background-color: white;

	div.inner_container{
		@include container_sizing( 800px );

		div.logo{
			float: right;
			overflow: auto;

			img{
				float: left;
				margin-top: 0;
				height: 40px;
				margin: -10px 10px 0 0;
			}
			h2{
				float: left;
				line-height: 40px;
				font-family: 'courrier_new';
				color: #3C4F71;
				font-weight: 400;
			}
		}
		div.menu_container{
			float: left;

			a.login{
				font-family: 'courrier_new';
				color: #3C4F71;
				font-weight: 800;
				font-size: 14px;
				line-height: 40px;
				cursor: pointer;
			}
			div.menu_inner_container{

				&.active{
					div.darkshadow{
						display: block;
						opacity: .7;
					}
					ul.menu{
						transform: translateX(80%);
					}
				}
				div.hamburger_icon{
					float: right;
					width: 30px;
					cursor: pointer;

					span.icon{
						font-size: 20px;
						font-family: 'font_awesome';
						color: rgba(#3C4F71, 1);
						text-align: center;
						line-height: 40px;
						font-weight: 800;
						user-select: none;
					}
				}
				ul.menu{
					position: absolute;
					top: 0;
					left: -100%;
					bottom: 0;
					width: calc(100% - (20% + 48px));
					background-color: white;
					z-index: 10;
					padding: 24px 24px 24px calc(20% + 24px);
					transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
					
					li{
						cursor: pointer;

						&.user{
							overflow: auto;
							div.avatar{
								width: 50px;
								height: 50px;
								border-radius: 100%;
								background-color: #F2F2F2;
								float: left;
								margin: 0 15px 48px 0;
								background-size: cover;
								background-position: center center;
							}
							div.content{
								float: left;
								width: calc(100% - 75px);
								margin-top: 10px;

								p.name{
									font-size: 20px;
									color: rgba(#3C4F71, 1);
								}
								p.email{
									font-size: 10px;
									color: rgba(#3C4F71, .8);
								}
							}
						}
						&.link{
							padding: 16px 0;
							border-bottom: 1px solid rgba(#3C4F71, .2);

							a{
								line-height: 16px;
								font-size: 16px;
								margin-left: 12px;
								color: #3C4F71;
								display: block;
								width: calc(100% - 12px);

								span.icon{
									font-family: 'font_awesome';
									font-size: 12px;
									font-weight: 800;
									margin-right: 12px;
								}

								&.active{
									border-right: 3px solid rgba(#3C4F71, 1);
								}
							}
							&.profil{
								display: none;
							}
							&.todo{
								&:after{}
							}
						}
					}
				}
				div.darkshadow{
					display: none;
					position: fixed;
					content: '';
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 2;
					opacity: 0;
					background-color: #3C4F71;
					transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
				}
			}
		}
	}
}

section.planning{
	@include container_sizing( 1000px );
	margin-top: 5%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(#3C4F71, .2);
	background-color: white;

 	div.header{
 		overflow: auto;
		border-bottom: 1px solid rgba(#3C4F71, .2);

		div.arrow{
 			width: 50px;
			height: 50px;
			float: left;
			cursor: pointer;
			user-select: none;

			span.icon{
				display: block;
				width: 100%;
				font-size: 20px;
				font-family: 'font_awesome';
				color: rgba(#3C4F71, .6);
				text-align: center;
				line-height: 50px;
				font-weight: 800;
				transition: all 200ms;
			}

			&:hover span.icon{
				color: rgba(#3C4F71, 1);
			}
		}
		div.week_number{
			width: calc(100% - 100px);
			height: 50px;
			float: left;
			font-family: 'courrier_new';
			color: #3C4F71;
			text-align: center;
			line-height: 50px;
			font-weight: 800;
		}
	}
	div.body{
		overflow: auto;
		height: 65vh;

		div.time{
			width: 50px;
			height : 75px;
			margin-top: 50px;
			height: calc(100% - 50px);
			float: left;

			div.hour{
				height: calc((65vh - 50px) / 4);
				width: 100%;
				font-family: 'courrier_new';
				color: #3C4F71;
				font-size: 12px;
				text-align: center;
				line-height: 2px;
			}
		}
		div.content{
			float: left;
			width: calc(100% - 50px);
			height: 100%;

			div.day{
				width: 100%;

				div.weekday{
					border-bottom: 1px solid rgba(#3C4F71, .2);
					height: 50px;
					display: flex;

					p.date{
						font-family: 'courrier_new';
						color: #3C4F71;
						font-size: 14px;
						margin: 0 auto;
						line-height: 50px;

						span.digit{
							font-family: 'courrier_new';
							color: #3C4F71;

							&.active{
								background-color: #e66b6b;
								color: white;
								font-weight: 800;
								width: 25px;
								height: 25px;
								display: inline-block;
								text-align: center;
								line-height: 25px;
								border-radius: 50%;
							}
						}
					}
				}
				div.empty{
					width: 100%;
					height: calc((65vh - 55px) / 4);
					border-bottom: 1px dashed rgba(#3C4F71, .2);
				}
				div.breakfast{
					width: 100%;
					height: calc((65vh - 55px) / 4);
					border-bottom: 1px dashed rgba(#3C4F71, .2);
					display: inline-block
				}
				div.lunch{
					width: 100%;
					height: calc((65vh - 55px) / 4);
					border-bottom: 1px dashed rgba(#3C4F71, .2);
					display: inline-block
				}
				div.dinner{
					width: 100%;
					height: calc((65vh - 55px) / 4);
					display: inline-block
				}
	
				div{
					div.task{
						margin: 8px;
						padding: 8px;
						overflow: hidden;
						height: calc(((65vh - 55px) / 4) - 32px);
						border-radius: 4px;
						width: auto;
						font-size: 14px;
						text-overflow: ellipsis;
						white-space: nowrap;
						transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
						background-color: rgba(#3C4F71, .1);
						color: #3C4F71;
						font-family: 'courrier_new';
						cursor: pointer;

						&.Alexandre{
							white-space: normal;
							background: linear-gradient(to right,#ffd073,#ffb54c);
							color: #333333;
						}
						&.Alison{
							white-space: normal;
							background: linear-gradient(to right,#025373,#6BBFA0);
							color: #ffffff;
						}
						&::ng-deep span.icon{
							font-size: 10px;
							font-family: 'font_awesome';
							color: #3C4F71;
							margin-right: 10px;
						}
						&:hover {
							margin: 1px;
							border-radius: 0;
							height: calc(((65vh - 50px) / 4) - 20px);
						}
					}
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	nav.top_container{
		div.inner_container{
	
			div.logo{
				float: left;
	
				img{}
				h2{}
			}
			div.menu_container{
				float: right;
				width: calc(100% - 150px);
				height: 40px;

				div.hamburger_icon{
					display: none;

					span.icon{}
				}
				a.login{}
				div.menu_inner_container{

					&.active{
						div.darkshadow{
							display: none;
						}
						ul.menu{
							transform: translateX(0%);
						}
					}
					ul.menu{
						width: 400px;
						overflow: auto;
						position: relative;
						top: auto;
						bottom: auto;
						left: auto;
						right: auto;
						padding: 0;
						transform: translateX(0%);
						float: right;

						li{
							&.user{
								display: none;

								div.avatar{}
								div.content{
									p.name{}
									p.email{}
								}
							}
							&.link{
								float: left;
								padding: 0;
								border-bottom: 0;

								a{
									line-height: 40px;
									font-weight: 800;
									font-size: 14px;

									span.icon{
										display: none;
									}

									&.active{
										border-right: 0px;
										text-decoration: underline;
									}
								}
								&.profil{
									display: block;
								}
								&.todo{
									&:after{}
								}
							}
						}
					}
					div.darkshadow{
						display: none;
					}
				}
			}
		}
	}
	
	section.planning{
		div.header{
			div.arrow{
				span.icon{
				}
	
				&:hover span.icon{}
			}
			div.week_number{}
		}
		div.body{
			height: 52vh;

			div.time{
				div.hour{
					height: calc((50vh - 50px) / 4);
				}
			}
			div.content{
				overflow: auto;

				div.day{
					width: calc( (100% / 4) - 1px );
					float: left;
					border-right: 1px dashed rgba(#3C4F71, .2);

					&:last-child{
						border-right: 0px;
					}

					div.weekday{
						p.date{
							span.digit{
								&.active{}
							}
						}
					}
					div.empty{
						height: calc((50vh - 55px) / 4);
					}
					div.breakfast{
						height: calc((50vh - 55px) / 4);
					}
					div.lunch{
						height: calc((50vh - 55px) / 4);
					}
					div.dinner{
						height: calc((50vh - 55px) / 4);
					}
		
					div{
						div.task{
							height: calc(((50vh - 55px) / 4) - 32px);

							&::ng-deep span.icon{}
							&:hover {
								height: calc(((50vh - 50px) / 4) - 20px);
							}
						}
					}
				}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	nav.top_container{
		div.inner_container{
			div.logo{
				img{}
				h2{}
			}
			ul.menu{
				li{
					a{
						&.active{}
					}
				}
			}
		}
	}
	
	section.planning{
		div.header{
			div.arrow{
				span.icon{
				}
	
				&:hover span.icon{}
			}
			div.week_number{}
		}
		div.body{
			height: 44vh;

			div.time{
				div.hour{
					height: calc((44vh - 50px) / 4);
				}
			}
			div.content{
				overflow: auto;

				div.day{
					width: calc( (100% / 7) - 1px );

					&:last-child{}

					div.weekday{
						p.date{
							span.digit{
								&.active{}
							}
						}
					}
					div.empty{
						height: calc((44vh - 55px) / 4);
					}
					div.breakfast{
						height: calc((44vh - 55px) / 4);
					}
					div.lunch{
						height: calc((44vh - 55px) / 4);
					}
					div.dinner{
						height: calc((44vh - 55px) / 4);
					}
		
					div{
						div.task{
							height: calc(((44vh - 55px) / 4) - 32px);

							&::ng-deep span.icon{}
							&:hover {
								height: calc(((44vh - 50px) / 4) - 20px);
							}
						}
					}
				}
			}
		}
	}
}