// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

nav.top_container{
		width: 100%;
		height: 40px;
		padding: 5px 0;
		background-color: white;

	div.inner_container{
		@include container_sizing( 800px );

		div.logo{
			float: right;
			overflow: auto;

			img{
				float: left;
				margin-top: 0;
				height: 40px;
				margin: -10px 10px 0 0;
			}
			h2{
				float: left;
				line-height: 40px;
				font-family: 'courrier_new';
				color: #3C4F71;
				font-weight: 400;
			}
		}
		div.menu_container{
			float: left;

			a.login{
				font-family: 'courrier_new';
				color: #3C4F71;
				font-weight: 800;
				font-size: 14px;
				line-height: 40px;
				cursor: pointer;
				float: right;
			}
			div.menu_inner_container{

				&.active{
					div.darkshadow{
						display: block;
						opacity: .7;
					}
					ul.menu{
						transform: translateX(80%);
					}
				}
				div.hamburger_icon{
					float: right;
					width: 30px;
					cursor: pointer;

					span.icon{
						font-size: 20px;
						font-family: 'font_awesome';
						color: rgba(#3C4F71, 1);
						text-align: center;
						line-height: 40px;
						font-weight: 800;
						user-select: none;
					}
				}
				ul.menu{
					position: absolute;
					top: 0;
					left: -100%;
					bottom: 0;
					width: calc(100% - (20% + 48px));
					background-color: white;
					z-index: 10;
					padding: 24px 24px 24px calc(20% + 24px);
					transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
					
					li{
						cursor: pointer;

						&.user{
							overflow: auto;
							div.avatar{
								width: 50px;
								height: 50px;
								border-radius: 100%;
								background-color: #F2F2F2;
								float: left;
								margin: 0 15px 48px 0;
							}
							div.content{
								float: left;
								width: calc(100% - 75px);
								margin-top: 10px;

								p.name{
									font-size: 20px;
									color: rgba(#3C4F71, 1);
								}
								p.email{
									font-size: 10px;
									color: rgba(#3C4F71, .8);
								}
							}
						}
						&.link{
							padding: 16px 0;
							border-bottom: 1px solid rgba(#3C4F71, .2);

							a{
								line-height: 16px;
								font-size: 16px;
								margin-left: 12px;
								color: #3C4F71;
								display: block;
								width: calc(100% - 12px);

								span.icon{
									font-family: 'font_awesome';
									font-size: 12px;
									font-weight: 800;
									margin-right: 12px;
								}

								&.active{
									border-right: 3px solid rgba(#3C4F71, 1);
								}
							}
							&.profil{
								display: none;
							}
							&.todo{
								&:after{}
							}
						}
					}
				}
				div.darkshadow{
					display: none;
					position: fixed;
					content: '';
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					z-index: 2;
					opacity: 0;
					background-color: #3C4F71;
					transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
				}
			}
		}
	}
}

section.recipes{
	position: relative;

	div.hero{
		height: 300px;
		background-position: center center;
		background-size: cover;
		position: relative;
		z-index: 0;
	}
	div.search{
		@include container_sizing( 500px );
		background-color: white;
		border-radius: 3px;
		box-shadow: 0px 0px 5px rgba(black, 0.2);
		margin-top: -20px;
		height: 40px;
		z-index: 1;
		position: relative;

		span.icon{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			display: block;
			font-family: 'font_awesome';
			float: left;
		}
		input{
			font-family: 'courrier_new';
			float: left;
			height: 38px;
			font-size: 16px;
			border: none;
			padding: 0;
			width: calc(100% - 60px)
		}
	}	
	div.main_container{
		@include container_sizing( 1000px );
		margin-top: 40px;
		padding-bottom: 80px;
		position: relative;

		div.recipe_group{
			width: 100%;

			div.action{
				position: relative;
				overflow: auto;
				padding-bottom: 20px;

				a.button.add{
					float: right;
					background-color: rgba(#3C4F71, .1);
					border-radius: 30px;
					padding: 8px 12px;
					overflow: auto;
					display: block;
					width: 138px;
					cursor: pointer;
	
					span.icon{
						font-family: 'font_awesome';
						color: #3C4F71;
						line-height: 20px;
						display: block;
						float: left;
					}
					span.text{
						font-family: 'courrier_new';
						color: #3C4F71;
						line-height: 20px;
						margin-left: 10px;
						display: block;
						float: left;
					}
				}	
			}
			div.body{
				article{
					background-color: white;
					border-radius: 3px;
					box-shadow: 0px 0px 5px rgba(black, 0.2);
					margin: 10px 0 15px;
					width: 100%;
					outline: none;
					height: 180px;
					position: relative;

					span.edit{
						font-family: 'font_awesome';
						color: white;
						background-color: rgba(0, 0, 0, 0.2);
						padding: 10px;
						border-radius: 50%;
						float: right;
						margin: -10px -10px 0 0;
						cursor: pointer;
						outline: none;
					}
					div.article{
						background-size: cover;
						background-position: center, center;
						width: 100%;
						cursor: pointer;
						height: 100%;

						div.content{
							width: 70%;
							background-color: rgba(white, .9);
							border-top-right-radius: 3px;
							border-bottom-right-radius: 3px;
							padding: 12px;
							position: absolute;
							left: 0;
							bottom: 20px;
		
							h3{
								font-family: 'courrier_new';
								font-size: 18px;
								font-weight: 800;
								color: #3C4F71;
							}
						}
					}

				}
			}
			div.empty_states{
				img{
					width: 200px;
					margin: 0 auto;
					display: block;
				}
				p{
					width: 100%;
					font-family: 'courrier_new';
					font-size: 18px;
					font-weight: 400;
					color: #3C4F71;
					text-align: center;
					line-height: 48px;
				}
			}
			p.recipe-number{
				width: 100%;
				font-family: 'courrier_new';
				font-size: 12px;
				font-weight: 400;
				color: #3C4F71;
				text-align: center;
				line-height: 48px;
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	nav.top_container{
		div.inner_container{
	
			div.logo{
				float: left;
	
				img{}
				h2{}
			}
			div.menu_container{
				float: right;
				width: calc(100% - 150px);
				height: 40px;

				div.hamburger_icon{
					display: none;

					span.icon{}
				}
				a.login{}
				div.menu_inner_container{

					&.active{
						div.darkshadow{
							display: none;
						}
						ul.menu{
							transform: translateX(0%);
						}
					}
					ul.menu{
						width: 400px;
						overflow: auto;
						position: relative;
						top: auto;
						bottom: auto;
						left: auto;
						right: auto;
						padding: 0;
						transform: translateX(0%);
						float: right;

						li{
							&.user{
								display: none;

								div.avatar{}
								div.content{
									p.name{}
									p.email{}
								}
							}
							&.link{
								float: left;
								padding: 0;
								border-bottom: 0;

								a{
									line-height: 40px;
									font-weight: 800;
									font-size: 14px;

									span.icon{
										display: none;
									}

									&.active{
										border-right: 0px;
										text-decoration: underline;
									}
								}
								&.profil{
									display: block;
								}
								&.todo{
									&:after{}
								}
							}
						}
					}
					div.darkshadow{
						display: none;
					}
				}
			}
		}
	}

	section.recipes{
		div.hero{
			div.search{
				span.icon{}
				input{}
			}	
		}
		div.main_container{
			padding-top: 40px;

			div.recipe_group{
				div.body{
					display:flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-flow: row wrap;
	
					article{
						width: calc(50% - 10px);
						margin-right: 20px;
	
						&:nth-child(2n){
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){
	section.recipes{
		div.hero{
			div.search{
				span.icon{}
				input{}
			}	
		}
		div.main_container{
			div.recipe_group{
				div.body{
					article{
						width: calc(33% - 10px);
	
						&:nth-child(2n){
							margin-right: 20px;
						}
						&:nth-child(3n){
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}