<login-modal></login-modal>

<nav class="top_container">
	<div class="inner_container">
		<div class="logo">
			<img src="../../assets/images/salad.gif" alt="">
			<h2>Recipe</h2>
		</div>
		<div class="menu_container">
			<a class="login" *ngIf="!is_user_logged_in" (click)="loginModal_service.open_modal()">Login</a>
			<div class="menu_inner_container" *ngIf="is_user_logged_in" [ngClass]="{'active': menu_active}">
				<div class="hamburger_icon" (click)="menu_active = !menu_active"><span class="icon"></span></div>
				<ul class="menu">
					<li class="user">
						<div class="avatar" [style.backgroundImage]="'url(' + user_details.avatar + ')' | sanitizer: 'style'"></div>
						<div class="content">
							<p class=name>{{user_details.given_name}} {{user_details.family_name}}</p>
							<p class=email>{{user_details.email}}</p>
						</div>
					</li>
					<li class="link"><a routerLink="/recipes" routerLinkActive="active"><span class="icon"></span>Recipes</a></li>
					<li class="link"><a routerLink="/planning" routerLinkActive="active"><span class="icon"></span>Planning</a></li>
					<li class="link todo" ><a><span class="icon"></span>Shopping list</a></li>
					<li class="link profil" ><a>Profil</a></li>
					<li class="link"><a (click)="logout()"><span class="icon"></span>Logout</a></li>
				</ul>
				<div class="darkshadow" (click)="menu_active = !menu_active"></div>
			</div>
		</div>
	</div>
</nav>

<section class="recipes">
	<div class="hero" style="background-image: url('../../../assets/images/illustration_1.jpg');"></div>
	<div class="search">
		<span class="icon"></span>
		<input type="text" placeholder="SEARCH" [(ngModel)]="search_input" (ngModelChange)="display_search()">
	</div>
	<div class="main_container">
		<!-- All Recipe -->
		<div class="recipe_group" *ngIf="!is_search_active">
			<div class="action" *ngIf="is_user_logged_in"><a class="button add" routerLink="/add-recipe"><span class="icon"></span><span class="text">Add a recipe</span></a></div>
			<div class="body">
				<article *ngFor="let recipe of all_recipes | async">
					<span class="edit" *ngIf="is_user_logged_in" [routerLink]="['/add-recipe', recipe.url]"></span>
					<div class="article" [routerLink]="['/recipe', recipe.url]" [style.backgroundImage]="'url(' + recipe.illustration + ')' | sanitizer: 'style'">
						<div class="content">
							<h3>{{recipe.title}}</h3>
						</div>
					</div>
				</article>
			</div>
			<p class="recipe-number" *ngIf="is_async_loading | async">Loading recipes</p>
			<!-- <p class="recipe-number" *ngIf="!(is_async_loading | async)">{{(all_recipes | async).length}} Recipes</p> -->
		</div>

		<!-- Searched Recipe -->
		<div class="recipe_group" *ngIf="is_search_active">
			<div class="body">
				<article *ngFor="let recipe of all_recipes | async | searcher_pipe: search_input">
					<span class="edit" *ngIf="is_user_logged_in" [routerLink]="['/add-recipe', recipe.url]"></span>
					<div class="article" [routerLink]="['/recipe', recipe.url]" [style.backgroundImage]="'url(' + recipe.illustration + ')' | sanitizer: 'style'">
						<div class="content">
							<h3>{{recipe.title}}</h3>
						</div>
					</div>
				</article>
			</div>
			<div class="empty_states" *ngIf="(all_recipes | async | searcher_pipe: search_input).length === 0">
				<img src="../../../assets/images/nothing-found.png" alt="Nothing found">
				<p>Nothing found</p>
			</div>
		</div>
	</div>
</section>