// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

nav.top_container{
	width: 100%;
	height: 40px;
	padding: 5px 0;
	background-color: white;

	div.inner_container{
		overflow: auto;
		@include container_sizing( 800px );

		div.logo{
			float: left;
			overflow: auto;

    		img{
    			float: left;
    			margin-top: 0;
    			height: 40px;
    			margin: -10px 10px 0 0;
    		}
    		h2{
    			float: left;
    			line-height: 40px;
    			font-family: 'courrier_new';
    			color: #3C4F71;
    			font-weight: 400;

    		}
    	}
    	ul.menu{
    		float: right;

			li{
				float: right;
				margin-left: 15px; 
				
				a{
					font-family: 'courrier_new';
    				color: #3C4F71;
    				font-weight: 800;
    				font-size: 14px;
					line-height: 40px;
                    cursor: pointer;
				}
			}
    	}

	}
}

section.recipes{
	position: relative;

	div.hero{
		height: 300px;
		background-position: center center;
		background-size: cover;
		position: relative;
		z-index: 0;
	}
	div.search{
		@include container_sizing( 500px );
		background-color: white;
		border-radius: 3px;
		box-shadow: 0px 0px 5px rgba(black, 0.2);
		margin-top: -20px;
		height: 40px;
		z-index: 1;
		position: relative;

		span.icon{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			display: block;
			font-family: 'font_awesome';
			float: left;
		}
		input{
			font-family: 'courrier_new';
			float: left;
			height: 38px;
			font-size: 16px;
			border: none;
			padding: 0;
			width: calc(100% - 60px)
		}
	}	
	div.main_container{
		@include container_sizing( 1000px );
		margin-top: 40px;
		padding-bottom: 80px;
		position: relative;

		div.recipe_group{
			width: 100%;

			div.body{
				article{
					background-color: white;
					border-radius: 3px;
					box-shadow: 0px 0px 5px rgba(black, 0.2);
					margin: 10px 0 15px;
					width: 100%;
					outline: none;
					height: 180px;
					position: relative;

					span.edit{
						font-family: 'font_awesome';
						color: white;
						background-color: rgba(0, 0, 0, 0.7);
						padding: 10px;
						border-radius: 50%;
						float: right;
						margin: -10px -10px 0 0;
						cursor: pointer;
						outline: none;
					}
					div.article{
						background-size: cover;
						background-position: center, center;
						width: 100%;
						cursor: pointer;
						height: 100%;

						div.content{
							width: 70%;
							background-color: rgba(white, .9);
							border-top-right-radius: 3px;
							border-bottom-right-radius: 3px;
							padding: 12px;
							position: absolute;
							left: 0;
							bottom: 20px;
		
							h3{
								font-family: 'courrier_new';
								font-size: 18px;
								font-weight: 800;
								color: #3C4F71;
							}
						}
					}

				}
			}
			div.empty_states{
				img{
					width: 200px;
					margin: 0 auto;
					display: block;
				}
				p{
					width: 100%;
					font-family: 'courrier_new';
					font-size: 18px;
					font-weight: 400;
					color: #3C4F71;
					text-align: center;
					line-height: 48px;
				}
			}
			p.recipe-number{
				width: 100%;
				font-family: 'courrier_new';
				font-size: 12px;
				font-weight: 400;
				color: #3C4F71;
				text-align: center;
				line-height: 48px;
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.recipes{
		div.hero{
			div.search{
				span.icon{}
				input{}
			}	
		}
		div.main_container{
			padding-top: 40px;

			div.recipe_group{
				div.body{
					display:flex;
					align-items: flex-start;
					justify-content: flex-start;
					flex-flow: row wrap;
	
					article{
						width: calc(50% - 10px);
						margin-right: 20px;
	
						&:nth-child(2n){
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){
	section.recipes{
		div.hero{
			div.search{
				span.icon{}
				input{}
			}	
		}
		div.main_container{
			div.recipe_group{
				div.body{
					article{
						width: calc(33% - 10px);
	
						&:nth-child(2n){
							margin-right: 20px;
						}
						&:nth-child(3n){
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}