// =============================================================================
// IMPORT
// =============================================================================
@import "../assets/styles/ui_mixines";

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}