// =============================================================================
// IMPORT
// =============================================================================
@import "../assets/styles/ui_mixines";
nav.top_container{
	width: 100%;
	height: 40px;
	padding: 5px 0;
	background-color: white;

	div.inner_container{
		overflow: auto;
		@include container_sizing( 800px );

		div.logo{
			float: left;
			overflow: auto;

    		img{
    			float: left;
    			margin-top: 0;
    			height: 40px;
    			margin: -10px 10px 0 0;
    		}
    		h2{
    			float: left;
    			line-height: 40px;
    			font-family: 'courrier_new';
    			color: #3C4F71;
    			font-weight: 400;

    		}
    	}
    	ul.menu{
    		float: right;

			li{
				a{
					font-family: 'courrier_new';
    				color: #3C4F71;
    				font-weight: 800;
    				font-size: 14px;
					line-height: 40px;
                    cursor: pointer;
				}
			}
    	}

	}
}


/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}