// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

section.add_recipe{
	div.breadcrumb{
		@include container_sizing( 600px );
		padding: 18px 0;
		a{
			font-family: 'courrier_new';
			color: #3C4F71;
			font-weight: 800;
			font-size: 20px;
			cursor: pointer;

			span.icon{
				font-family: 'font_awesome';
				color: #3C4F71;
				font-weight: 800;
				font-size: 16px;
			}
		}
	}
	div.inner_container{
		@include container_sizing( 600px );
		box-shadow: 0 0 5px rgba(black,.2);
		border-radius: 3px;
		padding: 24px 0 24px 0px;
		overflow: auto;

		div.illustration_container{
			margin: 0 24px 24px;

			label{
				div.illustration_input{
					width: 100%;
					height: 250px;
					margin: 0 0 20px 0;
					background-color: #F2F2F2;
					background-position: center center;
					background-size: cover;
					border-radius: 3px;
					position: relative;

					&:hover, &.active{
						span.background_hover{
							opacity: 1;
						}	
					}
					span.background_hover{
						opacity: 0;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						background-color: rgba(#000000, .4);
						display: flex;
						align-items: center;
						justify-content: space-around;
						transition: all 200ms;
						cursor: pointer;

						span.icon{
							display: inline;
							line-height: 20px;
							margin-right: 10px;
							font-family: 'font_awesome';
							font-size: 24px;
							color: white;
	
							&.rotate{
								animation:spin 2s linear infinite;
								@keyframes spin { 100% { transform: rotate(360deg); } }
							}
						}
						span.gauge{
							position: absolute;
							bottom: 0;
							left: 0;
							width: 50%;
							height: 4px;
							background-color: #F2F2F2;
							opacity: 0;
							transition: all 200ms;
	
							&.active{
								opacity: 1;
							}
						}
					}
				}
			}
			p.informational_message{
				font-size: 12px;
				font-weight: 200;
				color: $classic_red;
				margin: 10px 0 0 0;
				font-family: 'courrier_new';
				display: block;
	
				&::ng-deep span{
					font-family: 'font_awesome';
					font-weight: 300;
					margin-right: 5px;
					display: inline;
				}
			}
		}

		div.input_group{
			margin: 0 24px 24px;

			label{
				font-size: 12px;
				color: #3C4F71;
				font-family: 'courrier_new';
			}
			input{
				border: 1px solid rgba(#3C4F71, .4);
				border-radius: 2px;
				width: calc(100% - 26px);
				padding: 6px 12px;
				font-size: 14px;
				font-family: 'courrier_new';
				color: #3C4F71;
			}
			textarea{
				border: 1px solid rgba(#3C4F71, .4);
				font-family: 'courrier_new';
				border-radius: 2px;
				width: calc(100% - 26px);
				padding: 6px 12px;
				font-size: 14px;
				height: 70px;
				color: #3C4F71;
				resize: vertical;
				font-weight: 400;
			}
			li.tags{
				// padding: 10px 0;
				cursor: text;
				list-style-type: none;
				border: 1px solid rgba(#3C4F71, .4);
				border-radius: 2px;
				background-color: #fff;

				ul.input{
					list-style : none;   
  					display:inline-block;
  					height: 70px;
    				font-size:14px;
    				width: calc(100% - 12px);
    				border-radius:2px;
    				overflow:hidden;
    				transition: all 200ms;
    				padding: 6px 12px;

					li{
						float:left;
						padding: 0;

						&.tag{
							background: white;
							border: 1px solid rgba(#3C4F71, .4);
							border-radius:2px;
							margin: 0 5px 5px 0;
							position: relative;
							line-height: 22px;
							padding: 0 20px 0 5px;
							color: #3C4F71;
							font-family: 'courrier_new';

							span.icon{
								position: absolute;
								font-family: 'font_awesome';
								right: 6px;
								top: 0px;
								color: #3C4F71;
								cursor:pointer;
								opacity: .7;
								font-size: 14px;
								transition: all 200ms;

								&:hover{
									opacity: 1;
								}
							}
						}
						&.tag-new{
							height: 24px;
							width: 130px;

							input{
								border:0;
								margin: 0;
								padding: 0;
								font-size: 14px;
								line-height: 24px;
								width: auto;
								color: #3C4F71;
								font-family: 'courrier_new';
							}
						}
					}
				}
			}
			p.informational_message{
				font-size: 12px;
				font-weight: 200;
				color: $classic_red;
				margin: 10px 0 0 0;
				font-family: 'courrier_new';
				display: block;
	
				&::ng-deep span{
					font-family: 'font_awesome';
					font-weight: 300;
					margin-right: 5px;
					display: inline;
				}
			}
		}
		div.ingredients, div.preparation{
			margin: 24px auto 24px auto;
			width: calc(100% - 48px);
			border-radius: 2px;
			
			label{
				font-size: 12px;
				color: #3C4F71;
				font-family: 'courrier_new';
			}
			ul{
				li{
					border: 1px solid rgba(#3C4F71, .4);
					overflow: auto;
					border-radius: 2px;
					background-color: white;
					margin-bottom: 5px;

					span.icon{
						font-family: 'font_awesome';
						color: #3C4F71;
						font-weight: 800;
						font-size: 16px;
						width: 30px;
						height: 30px;
						float: left;
						line-height: 30px;
						text-align: center;
						cursor: move;
						cursor: grab;
					}
					p.number{
						width: 30px;
						height: 30px;
						float: left;
						font-size: 14px;
						font-weight: 800;
						color: #3C4F71;
						font-family: 'courrier_new';
						line-height: 30px;
						text-align: center;
					}
					textarea{
						font-family: 'courrier_new';
						padding: 0px 12px 0 0;
						height: 30px;
						margin: 0;
						width: calc(100% - 102px);
						font-size: 14px;
						color: #3C4F71;
						resize: none;
						font-weight: 400;
						border: 0;
						line-height: 30px;
					}
					span.delete_icon{
						font-family: 'font_awesome';
						color: #3C4F71;
						font-weight: 800;
						font-size: 16px;
						width: 30px;
						height: 30px;
						float: right;
						line-height: 30px;
						text-align: center;
						cursor: pointer;
					}
					&.add{
						textarea{
							width: calc(100% - 42px);
						}
					}
				}
			}
			p.informational_message{
				font-size: 12px;
				font-weight: 200;
				color: $classic_red;
				margin: 10px 0 0 0;
				font-family: 'courrier_new';
				display: block;
	
				&::ng-deep span{
					font-family: 'font_awesome';
					font-weight: 300;
					margin-right: 5px;
					display: inline;
				}
			}
		}
		div.footer{
			overflow: auto;
			float: right;
			width:300px;
			overflow: auto;

			div{
				span.icon{
					font-family: 'font_awesome';
					color: #00cc00;
					font-weight: 900;
					font-size: 14px;
					margin: 5px 24px 0 10px;
					float: right;
				}
				p{
					font-size: 12px;
					color: #3C4F71;
					font-family: 'courrier_new';
					line-height: 24px;
					float: right;
				}
				&.loading{
					span.icon{
						color: #3C4F71;
						animation: spin 4000ms infinite linear;
					}
				}
			}
		}
	}
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(359deg); 
    }
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.add_recipe{
		padding: 40px 0;

		div.breadcrumb{
			a{
				span.icon{}
			}
		}
		div.inner_container{}
	}
}


/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}